<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Tree Shop</title>
    <link rel="stylesheet" href="/bootstrap-5.3.3-dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/bootstrap-5.3.3-dist/css/stylesheet.css">
</head>
<body>
    <div class="content">
        <div class="header">
            <h1>JC's Tree Shop</h1>
            <nav>
                <a href="about">About</a>
                <a href="contact">Contact</a>
            </nav>
        </div>
        <div class="homeInfo">
            <h2>Welcome!</h2>
               <p>We are giving away up to two trees to anyone who lives within the city limits of Salem. If you would like to register to have trees delivered to your property,
                   sign up now before we run out!</p>
        </div>
        <div class="links">
            <button ><a href="/registrationForm">Register Now!</a></button>
<!--            <button ><a href="/contact">Any Questions? Reach out!</a></button>-->
        </div>
    </div>


</body>
</html>